.select {
    position: relative;
}

.optionContainer {
    display: none;
    border-radius: 5px;
    position: absolute;
    top: 40px;
    border: 1px solid var(--text-color);
    z-index: 1;
    background-color: var(--bg-color);
    padding: 5px;
    width: calc(100% - 10px);
    max-height: 300px;
}

.optionContainer.open {
    display: block;
}

.option {
    display: block;
    cursor: pointer;
    padding: 5px;
}

.option.filter {
    display: none;
}