.appBar {
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 40px;
    border-bottom: 1px solid var(--neutral-color);
}